.gerenciar-filial {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: #F3F3F3;
    height: 100vh;
    overflow: hidden;

    .content {
        width: 100%;
        padding: 55px 20px 0;
        gap: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        #h1Info {
            font: 700 20px inter;
            color: #5D636B;
            text-align: left;
            padding: 20px 20px 0;
        }

        .principal {
            display: flex;
            flex-direction: row;
            width: 100%;
            padding: 0px 20px 0;
            gap: 50px;

            .esquerda {
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 20px;
                
                .addFilial {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-end;
                    align-items: center;
                    width: 70%;
                    min-width: 550px;
                    gap: 5px;

                    h1 {
                        font: 500 16px inter;
                        color: #8F8D8D;
                    }

                    img {
                        cursor: pointer;
                    }
                }

                .meio {
                    display: flex;
                    flex-direction: row;
                    width: 100%;
                    min-width: 450px;
                    max-width: 680px;
                    gap: 50px;

                    .bordaBranca {
                        width: 70%;
                        min-width: 550px;
                        max-height: 68vh;
                        overflow: hidden;
                        overflow-y: auto;
                        border-radius: 15px;
                        border: 1px solid #fff;
                        background-color: #fff;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        box-shadow: 0 4px 12px rgba(224, 224, 224, 0.8);
                        gap: 20px;
                        padding: 30px;
                    }
                }
            }

        }
    }

    @media(max-width: 1200px) {
        .content {
            .principal {
                gap: 0px;

                .esquerda {
                    .addFilial {
                        min-width: 300px;
                        width: 65%;
                    }

                    .meio {
                        .bordaBranca {
                            min-width: 300px;
                            width: 65%;
                        }
                    }

                }
            }
        }
    }

    @media(max-width: 1025px) {
        .content {
            justify-content: center;

            #h1Info {
                padding: 20px 70px 0;
            }

            .principal {
                justify-content: center;
            }
        }
    }
}