.cadastro-filial {
    display: flex;
    flex-direction: row;
    background-color: #F3F3F3;
    overflow: hidden;
    height: 100vh;

    .conteudo {
        width: 100%;
        padding: 10px 50px 0;
        gap: 1vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        max-width: 650px;

        #h1Info {
            font: 700 20px inter;
            color: #5D636B;
            text-align: left;
            padding: 14px 0 40px;
        }

        .text {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding: 20px 0;

            .link {
                display: flex;
                flex-direction: row;
                align-items: flex-start;
                justify-content: flex-start;
                gap: 10px;
                text-decoration: none;

                img {
                    width: 20px;
                }

                h1 {
                    font: 500 15px inter;
                    color: #5D636B;
                    cursor: pointer;
                }
            }
        }

        .principal {
            display: flex;
            flex-direction: row;
            width: 100%;
            gap: 30px;
           
        }
    }

    .botao {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        width: 100%;

        button {
            width: 113px;
            height: 42px;
            border-radius: 15px;
            background-color: #F5BA53;
            border: none;
            font: 500 14px inter;
            color: #FFF;
            cursor: pointer;

            a {
                text-decoration: none;
                color: #FFF;
            }
        }
    }

    @media (max-width: 1280px){
        .conteudo {
            .principal {
                .bordaBranca {
                    justify-content: flex-start;
                    align-items: flex-start;
                    max-height: 40vh;
                    min-width: 450px;
                    width: 60%;
                    overflow: hidden;
                    overflow-y: auto;
                }
            }
        }

        .botao{
            min-width: 450px;
            width: 60%;
        }
    }
}