.menu-lateral {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #2B3031;
  min-width: 240px;
  max-width: 280px;
  min-height: 100vh;
  padding: 20px 0;

  .foto {
    display: flex;
    justify-content: center;
    padding: 2.5vh;
    width: 100%;

    #logo {
      width: 100%;
      max-width: 55px;
    }
  }

  .navegacao {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 9px;
    margin-top: 19px;

    a {
      color: #fff;
      font: 500 14px inter;
      text-decoration: none;
      width: 100%;
      padding: 30px 55px;
      cursor: pointer;
      transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s ease;

      &:hover {
        background-color: #D9D9D930;
      }

      &.ativo {
        background-color: #D9D9D930;
        font-weight: 500;
      }
    }


  }

  .exit {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    margin-top: auto;

    a {
      color: #fff;
      font: 500 14px inter;
      text-decoration: none;
      text-align: left;
      padding: 30px 55px;
      width: 100%;

      &:hover {
        background-color: #D9D9D930;
        transition: .5s;
      }
    }
  }

  @media (max-width: 1024px) {
    display: none;
  }

  @media (max-width: 1153px) {
    .navegacao {
      margin-top: 22px;

      a {
        padding: 29px 20px;
      }

      .exit {
        a {
          padding: 29px 20px;
        }
      }
    }
  }

  @media(max-height: 800px) {
    width: 25%;
    min-width: 0;
  }
}