.validar-infos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100vh;
    background-color: #F9F9F9;
    overflow: hidden;

    .content {
        width: 100%;
        margin: 15px 50px 0;
        display: flex;
        flex-direction: column;

        #h1Info {
            font: 700 20px inter;
            color: #5D636B;
            text-align: left;
            margin: 20px 0 50px;
        }

        .text {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin: 20px 0;

            .link {
                display: flex;
                flex-direction: row;
                align-items: flex-start;
                justify-content: flex-start;
                gap: 10px;
                text-decoration: none;

                img {
                    width: 20px;
                }

                h1 {
                    font: 500 15px inter;
                    color: #5D636B;
                    cursor: pointer;
                }
            }
        }

        .principal {
            display: flex;
            flex-direction: row;
            gap: 90px;
            width: 100%;
            margin-top: -5px;

            .meio {
                display: flex;
                gap: 87px;
                width: 100%;

                .esquerda {
                    flex: 1;
                    min-width: 250px;
                    max-width: 590px;
                }

                .direita {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    gap: 1vh;

                    hr {
                        width: 5px;
                        height: 21px;
                        background-color: #9A9A9A;
                    }

                    .dados {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        gap: 1vh;

                        a {
                            font: 500 15px inter;
                            color: #8F8D8D;
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    }

    @media (max-width: 1440px) {
        .content {
            .text {
                margin-top: 11px;
                margin-left: 3px;
            }

            #h1Info {
                font-size: 18px;
                margin-left: 3px;
                margin-top: -2px;
            }

            .principal {
                margin-top: -23px;
                margin-left: 3px;

                .meio {
                    gap: 40px;
                }

                .direita {
                    .dados {
                        margin-left: 4px;
                    }
                }
            }
        }
    }

    @media (max-width: 1280px) {
        .content {
            .principal {
                .meio {
                    .esquerda {
                        .botao {
                            min-width: 550px;
                        }
                    }

                }
            }
        }
    }

    @media(max-width: 1176px) {
        .content {
            .principal {
                margin-top: -28px;
                max-width: 700px;

                .meio {
                    gap: 10px;

                    .esquerda {
                        .botao {
                            width: 85%;
                            margin-top: -10px;
                            min-width: 480px;
                        }
                    }
                }
            }
        }
    }

    @media(max-width: 800px) {
        .content {
            margin: 0;

            .text {
                margin-left: 20px;
            }

            #h1Info {
                margin-left: 20px;
            }

            .principal {
                margin: 0;

                .meio {
                    margin: 0;

                    .esquerda {
                        margin: 0;
                        padding: 0;
                    }

                    .direita {
                        display: none;
                    }
                }
            }
        }
    }

    @media (max-width: 400px) {
        .content {
            .principal {
                .meio {
                    .esquerda {
                        margin: 0 auto;
                        min-width: 190px;
                        max-width: 0;
                    }
                }
            }
        }
    }
}