.validar-infos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-width: 100%;
    height: 100vh;
    background-color: #F9F9F9;
    overflow: hidden;

    .content {
        width: 100%;
        padding: 10px 50px 0;
        gap: 0.5vh;
        display: flex;
        flex-direction: column;

        #h1Info {
            font: 700 20px inter;
            color: #5D636B;
            text-align: left;
            padding: 20px 0 50px;
        }

        .text {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding: 20px 0;

            .link {
                display: flex;
                flex-direction: row;    
                align-items: flex-start;
                justify-content: flex-start;
                gap: 10px;
                text-decoration: none;

                img {
                    width: 20px;
                }

                h1 {
                    font: 500 15px inter;
                    color: #5D636B;
                    cursor: pointer;
                }
            }   
        }

        .principal {
            display: flex;
            flex-direction: row;
            gap: 90px;
            width: 100%;

            .direita {
                display: flex;
                flex-direction: row;
                justify-content: center;
                gap: 1vh;

                hr {
                    width: 5px;
                    height: 21px;
                    background-color: #9A9A9A;
                }

                .dados {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 1vh;

                    h1 {
                        font: 500 15px inter;
                        color: #8F8D8D;
                    }   
                }
            }
        }
    }


    @media(max-height: 901px) {
        .content {
            .principal {
                .bordaBranca {
                    max-height: 38vh;
                }
            }

        }
    }

    @media(max-width: 1177px) {
        .content {
            .principal {
                .bordaBranca {
                    min-width: 450px;
                    max-height: 34vh;
                }

                .botao{
                    min-width: 450px;
                }
                .direita {
                    min-width: 120px;
                    margin-left: -60px;
                }
            }
        }
    }
}



    @media (max-width:1440px) {
        .validar-infos{
            .content{
            
                margin: 0vh 0vw;
                padding: 4vh 3vw;
                gap: 1vh;

                #h1Info {
                    padding: 2vh 0vw;
                }

                .text{
                    padding: 2vh 0vw;
                }
            }
        }
    }