.validar-infos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100vh;
    background-color: #F9F9F9;
    overflow: hidden;

    .content {
        width: 100%;
        max-width: 1280px;
        margin: 15px 50px 0;
        gap: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        #h1Info {
            font: 700 20px inter;
            color: #5D636B;
            align-self: start;
        }

        .text {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 20px;
            margin: 20px 0;
            width: 100%;

            .link {
                display: flex;
                flex-direction: row;
                align-items: flex-start;
                justify-content: flex-start;
                gap: 10px;
                text-decoration: none;

                .seta-voltar {
                    display: flex;
                    flex-direction: column;
                }

                img {
                    width: 20px;
                }

                h1 {
                    font: 500 15px inter;
                    color: #5D636B;
                    cursor: pointer;
                }
            }
        }

        .principal {
            display: flex;
            flex-direction: row;
            gap: 30px;
            width: 100%;
            margin-top: -5px;

            .meio {
                display: flex;
                gap: 88px;
                width: 100%;

                .esquerda {
                    max-width: 600px;
                    width: 100%;
                }
            }
        }
    }

    @media (max-width: 1280px) {
        .content {
            .principal {
                margin-top: -55px;

                .meio {
                    gap: 0;
                }
            }
        }
    }

    @media (max-width: 1176px) {
        .content {
            .text {
                gap: 20px;
                margin-left: 0;
                margin-top: 10px;
            }

            .principal {
                margin-left: 0;

                .meio {
                    gap: 33px;

                    .esquerda {
                        max-width: 500px;

                        .bordaBranca {
                            width: 100%;
                            max-width: 500px;
                        }

                        .botao {
                            width: 100%;
                            max-width: 500px;
                            margin-top: -15px;
                        }
                    }
                }
            }
        }
    }

    @media (max-width: 800px) {
        .content {
            justify-content: center;
            align-items: center;
            margin-left: 0;
            max-width: 450px;

            .text {
                width: 85%;
                gap: 20px;
            }

            .principal {
                .meio {
                    .esquerda {
                        .bordaBranca {
                            width: 85%;
                        }

                        .botao {
                            width: 85%;
                        }
                    }
                }
            }
        }
    }
}
