.confirmar-infos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100vh;
    background-color: #f9f9f9;
    overflow: hidden;

    .content {
        width: 100%;
        max-width: 1200px;
        margin: 5px;
        padding: 0 50px;
        gap: 20px;
        display: flex;
        flex-direction: column;

        #h1Info {
            font: 700 20px inter;
            color: #5D636B;
            text-align: left;
        }

        .texto {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            gap: 20px;
            margin: 10px 0;

            .link {
                display: flex;
                flex-direction: row;
                align-items: flex-start;
                justify-content: flex-start;
                gap: 10px;
                text-decoration: none;

                img {
                    width: 20px;
                }

                h1 {
                    font: 500 15px inter;
                    color: #5D636B;
                    cursor: pointer;
                }
            }
        }

        .principal {
            display: flex;
            flex-direction: row;
            width: 100%;
            gap: 48px;

            .lado-esquerdo {
                display: flex;
                flex-direction: column;
                width: 100%;
                max-width: 600px;
                gap: 30px;

                .bordaBranca {
                    width: 100%;
                    max-width: 560px;
                    max-height: 68vh;
                    overflow-y: auto;
                    border-radius: 15px;
                    border: 1px solid #fff;
                    background-color: #fff;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    box-shadow: 0 4px 12px rgba(224, 224, 224, 0.8);
                    gap: 50px;
                    padding: 10px;
                }

                .botao {
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-end;
                    width: 100%;
                    max-width: 560px;

                    button {
                        width: 113px;
                        height: 42px;
                        border-radius: 15px;
                        background-color: #F5BA53;
                        border: none;
                        font: 500 14px inter;
                        color: #FFF;
                        cursor: pointer;
                    }
                }
            }

            .direita {
                display: flex;
                flex-direction: column;
                gap: 1vh;
                width: 100%;

                a {
                    font: 500 15px inter;
                    color: #8F8D8D;
                    text-decoration: none;
                }

                .dados {
                    display: flex;
                    flex-direction: row;
                    align-items: flex-start;
                    gap: 1vh;

                    hr {
                        width: 5px;
                        height: 21px;
                        background-color: #9A9A9A;
                        margin-left: -14.5px;
                    }
                }
            }
        }
    }

    @media (max-width: 1280px) {
        .content {
            .principal {
                margin-top: -5px;
                gap: 0px;
            }
        }
    }

    @media (max-width: 1176px) {
        .content {
            .texto {
                margin-top: 10px;
                margin-left: 0;
            }

            .principal {
                margin-left: 0;
                gap: 20px;

                .lado-esquerdo {
                    width: 100%;
                    max-width: 500px;

                    .bordaBranca {
                        width: 100%;
                        max-width: 500px;
                    }

                    .botao {
                        width: 100%;
                        max-width: 500px;
                    }
                }
            }
        }
    }

    @media (max-width: 768px) {
        .content {
            justify-content: center;
            align-items: center;
            margin: 0;
            padding: 0 20px;
            max-width: 450px;

            .texto {
                width: 100%;
                gap: 20px;
            }

            #h1Info {
                margin: 0;
            }

            .principal {
                flex-direction: column;
                margin: 0;
                gap: 30px;

                .lado-esquerdo {
                    width: 100%;
                    max-width: 550px;
                    justify-content: center;
                    align-items: center;
                    margin: 0;

                    .bordaBranca {
                        width: 100%;
                        margin: 0;
                        padding: 10px;
                    }

                    .botao {
                        width: 100%;
                        max-width: 500px;

                        button {
                            width: 94px;
                            height: 42px;
                        }
                    }
                }
            }
        }
    }
}