.confirmar-infos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100vh;
    background-color: #f9f9f9;
    overflow: hidden;

    .content {
        width: 100%;
        margin: 15px 50px 0;
        display: flex;
        flex-direction: column;
        justify-content: center;

        #h1Info {
            font: 700 20px inter;
            color: #5D636B;
            text-align: left;
            margin: 20px 0 50px;
        }

        .texto {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            margin: 20px 0;

            .link {
                display: flex;
                flex-direction: row;
                align-items: flex-start;
                justify-content: flex-start;
                gap: 10px;
                text-decoration: none;

                img {
                    width: 20px;
                }

                h1 {
                    font: 500 15px inter;
                    color: #5D636B;
                    cursor: pointer;
                }
            }
        }


        .principal {
            display: flex;
            flex-direction: row;
            width: 100%;
            margin-top: -5px;

            .lado-esquerdo {
                display: flex;
                flex-direction: column;
                width: 100%;
                max-width: 690px;
                gap: 30px;
            }

            .bordaBranca {
                width: 85%;
                min-width: 550px;
                max-height: 50vh;
                overflow: hidden;
                overflow-y: auto;
                border-radius: 15px;
                border: 1px solid #fff;
                background-color: #fff;
                display: flex;
                flex-direction: column;
                align-items: center;
                box-shadow: 0 4px 12px rgba(224, 224, 224, 0.8);
                gap: 20px;
                padding: 30px;
            }

            .botao {
                display: flex;
                justify-content: space-between;
                align-items: flex-end;
                width: 85%;
                min-width: 550px;

                button {
                    width: 113px;
                    height: 42px;
                    border-radius: 15px;
                    background-color: #F5BA53;
                    border: none;
                    font: 500 14px inter;
                    color: #FFF;
                    cursor: pointer;
                }
            }

            .direita {
                display: flex;
                flex-direction: column;
                gap: 1vh;
                width: 100%;

                a {
                    font: 500 15px inter;
                    color: #8F8D8D;
                    text-decoration: none;
                }

                .dados {
                    display: flex;
                    flex-direction: row;
                    align-items: flex-start;
                    gap: 1vh;

                    hr {
                        width: 5px;
                        height: 21px;
                        background-color: #9A9A9A;
                        margin-left: -14px;
                    }

                }
            }
        }
    }

    @media (max-width: 1440px) {
        .content {
            .texto {
                margin-top: 11px;
                margin-left: 3px;
            }

            #h1Info {
                font-size: 18px;
                margin-left: 3px;
                margin-top: -2px;
            }

            .principal {
                gap: 95px;
                margin-top: -23px;
                margin-left: 3px;

                .direita {
                    .dados {
                        margin-left: 3px;
                    }
                }
            }
        }
    }

    @media(max-width: 1176px) {
        .content {
            .texto {
                margin-top: 10px;
                margin-left: 0px;
                gap: 20px;
            }

            .principal {
                margin-left: 0px;
                margin-top: -50px;
                max-width: 500px;
                gap: 27px;

                .direita {
                    min-width: 200px;

                    .dados {
                        margin-left: 3px;
                    }
                }

                .bordaBranca {
                    min-width: 480px;
                    width: 85%;
                    padding: 10px;
                }

                .botao {
                    min-width: 480px;
                }
            }
        }
    }

    @media (max-width: 768px) {
        .content {
            margin: 0;

            .texto {
                margin-left: 20px;
                gap: 20px;
            }

            #h1Info{
                margin: 0;
            }

            .principal {
                margin: 0;

                .lado-esquerdo {
                    justify-content: center;
                    align-items: center;
                    margin: 0;

                    .bordaBranca {
                        justify-content: center;
                        align-items: center;
                        min-width: 350px;
                        margin: 0;
                        padding: 5px;
                    }

                    .botao {
                        min-width: 350px;

                        button {
                            width: 94px;
                            height: 42px;
                        }
                    }
                }

                .direita {
                    display: none;
                }
            }

        }
    }

    @media (max-width: 378px) {
        .content {

            .texto {
                margin-left: 10px;
            }

            .lado-esquerdo {
   

                .bordaBranca {
                    min-width: 340px;
                }

                .botao {
                    min-width: 340px;
                }
            }

        }
    }
}