.infos-filial {
    display: flex;
    flex-direction: row;
    background-color: #f9f9f9;
    overflow: hidden;
    height: 100vh;

    .conteudo {
        width: 100%;
        max-width: 1200px;
        margin: 5px;
        padding: 0 50px;
        gap: 20px;
        display: flex;
        flex-direction: column;

        #h1Info {
            font: 700 20px inter;
            color: #5D636B;
            text-align: left;
        }

        .text {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            gap: 20px;
            margin: 10px 0;

            .link {
                display: flex;
                align-items: center;
                gap: 10px;
                text-decoration: none;

                img {
                    width: 20px;
                }

                h1 {
                    font: 500 15px inter;
                    color: #5D636B;
                    cursor: pointer;
                }
            }
        }

        .principal {
            display: flex;
            flex-direction: row;
            width: 100%;

            .meio {
                display: flex;
                width: 100%;
                gap: 48px;

                .esquerda {
                    max-width: 600px;
                    width: 100%;
                }
            }
        }
    }

    @media (max-width: 1280px) {
        .conteudo {
            #h1Info {
                font-size: 18px;
                margin-top: 0;
            }

            .principal {
                margin-left: 0;
                margin-top: -20px;

                .meio {
                    gap: 0px;
                }
            }
        }
    }

    @media (max-width: 1176px) {
        .conteudo {
            margin-top: 0px;

            .text{
                margin-top: 15px;
            }

            .principal {
                .meio {
                    gap: 33px;

                    .esquerda {
                        max-width: 480px;
                    }
                }
            }
        }
    }

    @media (max-width: 800px) {
        .conteudo {
            justify-content: center;
            align-items: center;
            margin-left: 0;
            margin: 0;
            padding: 0 20px;
            max-width: 450px;

            .text {
                width: 95%;
                gap: 20px;
            }

            .principal {
                .meio {
                    .esquerda {
                        .bordaBranca {
                            width: 95%;
                        }

                        .botao {
                            width: 95%;
                        }
                    }
                }
            }
        }
    }
}