.validacoes {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100%;
    background-color: #F9F9F9;
    overflow: hidden;

    .conteudo {
        display: flex;
        flex-direction: column;
        margin: 95px 50px 40px;
        width: 100%;
        gap: 30px;

        h1 {
            font: 700 20px inter;
            color: #5D636B;
        }

        .bordaBranca {
            width: 40%;
            min-width: 550px;
            max-height: 68vh;
            overflow: hidden;
            overflow-y: auto;
            border-radius: 15px;
            border: 1px solid #fff;
            background-color: #fff;
            display: flex;
            flex-direction: column;
            align-items: center;
            box-shadow: 0 4px 12px rgba(224, 224, 224, 0.8);
            gap: 50px;
            padding: 30px;
            margin: 15px 0;
        }
    }

    @media (max-width: 768px){
        .conteudo{
            justify-content: center;
            align-items: center;

            .bordaBranca{
                justify-content: center;
                align-items: center;
                min-width: 400px;
                margin: 0;
                padding: 5px;
            }
        }
    }

    @media (max-width: 378px){
        .conteudo{
            .bordaBranca{
                min-width: 360px;
            }
        }
    }
}

@media (max-width: 1440px) {
    .validacoes {
        .conteudo {
            h1 {
                font-size: 18px;
            }

            margin: 0vh 0vw;
            padding: 4vh 5vw;
            gap: 3vh;

            .bordaBranca {
                height: 95%;
            }
        }
    }
}