.validacoes {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100%;
    background-color: #F3F3F3;
    overflow: hidden;


    .conteudo {
        display: flex;
        flex-direction: column;
        padding: 40px 60px 40px;
        width: 100%;
        gap: 30px;

        h1 {
            font: 700 18px inter;
            color: #5D636B;
        }

        .bordaBranca {
            width: 40%;
            min-width: 550px;
            max-height: 68vh;
            overflow: hidden;
            overflow-y: auto;
            border-radius: 15px;
            border: 1px solid #fff;
            background-color: #fff;
            display: flex;
            flex-direction: column;
            align-items: center;
            box-shadow: 0 4px 12px rgba(224, 224, 224, 0.8);
            gap: 50px;
            padding: 30px;
        }
    }

    @media(max-width: 1177px) {
        .conteudo {

            .bordaBranca {
                max-height: 55vh;
            }

        }
    }

    @media (max-height: 800px) {
        .conteudo {
            margin: 1vh 0vw 1vh 0vw;
        }

    }
}