.acordo {
    display: flex;
    flex-direction: row;
    height: 100vh;
    background-color: #f9f9f9;
    overflow: hidden;

    .content {
        width: 100%;
        max-width: 1200px;
        margin: 35px;
        padding: 0 20px;
        display: flex;
        flex-direction: column;
        gap: 10px;

        h1 {
            font: 700 20px inter;
            color: #5D636B;
            margin: 20px 0;
        }

        .principal {
            display: flex;
            flex-direction: row;
            width: 100%;

            .esquerda {
                display: flex;
                flex-direction: column;
                gap: 30px;
                width: 100%;
                max-width: 648px;

                .bordaBranca {
                    background-color: #fff;
                    border-radius: 15px;
                    border: 1px solid #fff;
                    box-shadow: 0 4px 12px rgba(224, 224, 224, 0.8);
                    width: 100%;
                    max-width: 560px;
                    height: 62vh;
                    max-height: 59vh;
                    overflow-y: auto;
                    padding: 30px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 20px;

                    .assinatura-canvas {
                        margin-top: auto;
                        width: 100%;
                        height: 200px;
                        border: 2px solid #ccc;
                        border-radius: 8px;
                        touch-action: none;
                        background-color: white;
                    }

                }

                .botoes {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 100%;
                    max-width: 560px;

                    button {
                        width: 113px;
                        height: 42px;
                        border-radius: 15px;
                        background-color: #F5BA53;
                        border: none;
                        font: 500 14px inter;
                        color: #FFF;
                        cursor: pointer;
                        transition: background-color 0.3s;

                        &:hover {
                            background-color: #e0a640;
                        }
                    }
                }
            }
        }
    }

    @media (max-width: 1280px) {
        .content {
            gap: 7px;

            #h1Info {
                font-size: 18px;
            }

            .principal {
                gap: 40px;

                .esquerda {
                    max-width: 560px;

                    .bordaBranca {
                        height: 50vh;
                        max-height: 65vh;
                    }
                }
            }
        }
    }

    @media (max-width: 1176px) {
        .content {
            margin-top: 0px;

            .principal {
                gap: 0;

                .esquerda {
                    max-width: 513px;

                    .bordaBranca {
                        max-width: 480px;
                    }

                    .botoes {
                        max-width: 480px;
                    }
                }
            }
        }
    }

    @media (max-width: 768px) {
        .content {
            padding: 0 10px;
            margin: 0 auto;
            max-width: 450px;

            h1 {
                font-size: 17px;
                margin: 15px 0;
            }

            .principal {
                gap: 20px;

                .esquerda {
                    .bordaBranca {
                        height: 55vh;
                        max-height: 55vh;
                    }

                    .botoes {
                        button {
                            width: 100px;
                            height: 40px;
                            font-size: 13px;
                        }
                    }
                }
            }
        }
    }
}