.salvar-infos {
    display: flex;
    flex-direction: row;
    width: 100%;

    .content {
        width: 100%;
        padding: 40px;
        gap: 1vh;
        display: flex;
        flex-direction: column;
        justify-content: center;

        #h1Info {
            font: 700 20px inter;
            color: #5D636B;
            text-align: left;
            padding: 20px;
        }

        .principal {
            display: flex;
            flex-direction: row;
            gap: 70px;
            width: 100%;
            padding: 20px;

            .direita {
                display: flex;
                flex-direction: row;
                justify-content: center;
                gap: 1vh;

                hr {
                    width: 5px;
                    height: 21px;
                    background-color: #9A9A9A;
                }

                .dados {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 1vh;

                    h1 {
                        font: 500 15px inter;
                        color: #8F8D8D;
                    }
                }
            }
        }
    }

}