.salvar-infos {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: #f9f9f9;
    height: 100vh;
    overflow: hidden;

    .content {
        width: 100%;
        margin: 35px 50px;
        display: flex;
        flex-direction: column;

        #h1Info {
            font: 700 20px inter;
            color: #5D636B;
            text-align: left;
            margin: 20px 0 50px;
        }

        .principal {
            display: flex;
            flex-direction: row;
            gap: 90px;
            width: 100%;
            margin-top: -5px;

            .meio {
                display: flex;
                gap: 87px;
                width: 100%;
            }

            .esquerda {
                flex: 1;
                min-width: 250px;
                max-width: 590px;
            }
        }
    }


    @media (max-width: 1399px) {
        .content {
            margin-top: 5px;

            #h1Info {
                font-size: 18px;
            }
        }
    }

    @media(max-width: 1280px) {
        .content {
            .principal {
                .esquerda {
                    max-width: 500px;

                    .botao {
                        min-width: 550px;
                    }
                }

                .meio {
                    gap: 87px;
                }
            }
        }
    }

    @media(max-width: 1176px) {
        .content {
            .principal {
                .meio {
                    gap: 10px;

                    .esquerda {
                        .botao {
                            min-width: 480px;
                        }
                    }
                }
            }
        }
    }

    @media(max-width: 800px) {
        .content {
            margin-left: 15px;
        }
    }
}