.formulario-funcionario {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 30px;

    .bordaBranca {
        width: 100%;
        border-radius: 15px;
        border: 1px solid #fff;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        box-shadow: 0 4px 12px rgba(224, 224, 224, 0.8);
        overflow: hidden;
        overflow-y: auto;
        max-height: 57vh;
        max-width: 560px;

        .infos {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 2.5vh;
            padding: 30px;
            width: 100%;

            .card {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                width: 100%;
                gap: 1.5vh;

                img {
                    width: 15px;
                }

                h1 {
                    font: 500 17px inter;
                    color: #5D636B;
                }
            }

            .campo {
                display: flex;
                flex-direction: row;
                align-items: center;
                width: 100%;
                gap: 1.5vh;

                input {
                    width: 100%;
                    max-width: 450px;
                    height: 45px;
                    padding: 15px;
                    outline: none;
                    border: 1px solid #A2A2A2;
                    color: #5D636B;
                    background-color: #FDFAFA;
                    border-radius: 15px;
                    font: 500 15px inter;
                }

                h1 {
                    font: 500 15px inter;
                    color: #5D636B;
                    width: 25%;
                }
            }
        }
    }

    .botao {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        max-width: 560px;

        button {
            width: 113px;
            height: 42px;
            border-radius: 15px;
            background-color: #F5BA53;
            border: none;
            font: 500 14px inter;
            color: #FFF;
            cursor: pointer;

            a {
                text-decoration: none;
                color: #FFF;
            }
        }
    }

    @media (max-width: 1399px) {
        .bordaBranca {
            max-height: 45vh;
        }
    }

    @media(max-width: 1280px) {
        .bordaBranca {
            max-height: 55vh;
            max-width: 550px;
        }

        .botao {
            max-width: 550px;
        }
    }

    @media (max-width: 800px) {
        margin: 0 auto;
        justify-content: center;
        align-items: center;

        .bordaBranca {
            max-width: 400px;

            .infos {
                .campo {
                    flex-direction: column;
                    gap: 1vh;

                    input {
                        border-radius: 12px;
                    }

                    h1 {
                        align-self: self-start;
                        width: 100%;
                    }
                }
            }
        }
    }
}