.cabecalho {
    display: flex;
    flex-direction: column;
    width: 100%;
    
    .cima {
        display: flex;
        flex-direction: row;
        justify-content: end;
        align-items: center;
        width: 100%;
        background-color: #fff;
        gap: 4vw;
        padding: 1.4vh;

        .infos {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 2.5vw;
            width: 15%;
            margin-top: -0.3vh;

            h1 {
                color: #64748B;
                text-align: center;
                font: 600 1.8vh inter;

                span {
                    display: block;
                    font: 500 1.6vh inter;
                }
            }

            img{
                width: 100%;
                max-width: 3vw;
            }
        }
    }
}
