.infos-empresa {
    display: flex;
    flex-direction: row;
    height: 100vh;
    background-color: #F9F9F9;
    overflow: hidden;

    .content {
        width: 100%;
        margin: 35px 50px;
        display: flex;
        flex-direction: column;

        #h1Info {
            font: 700 20px inter;
            color: #5D636B;
            text-align: left;
            margin: 20px 0 30px;
        }

        .principal {
            display: flex;
            flex-direction: row;
            width: 100%;
            margin: 15px 0;

            .meio {
                display: flex;
                gap: 87px;
                width: 100%;
            }

            .esquerda {
                flex: 1;
                min-width: 250px;
                max-width: 590px;
            }
        }
    }

    @media (max-width: 1399px) {
        .content {
            margin-top: 5px;

            #h1Info {
                font-size: 18px;
            }
        }
    }

    @media(max-width: 1280px) {
        .content {
            .principal {

                .meio {
                    gap: 88px;
                }

                .esquerda {
                    max-width: 499px;

                    .botao {
                        min-width: 550px;
                    }
                }
            }
        }
    }

    @media(max-width: 1176px) {
        .content {
            margin: 5px 50px;

            .principal {
                .meio {
                    gap: 11px;

                    .esquerda {

                        .botao {
                            min-width: 480px;
                        }
                    }
                }
            }
        }
    }

    @media(max-width: 800px) {
        .content {
            min-width: 350px;
            justify-content: center;
            align-items: center;
            margin-left: 0px;

            .text {
                min-width: 350px;
            }

            .principal {
                .meio {
                    .esquerda {
                        .botao {
                            min-width: 350px;
                        }
                    }
                }
            }
        }
    }

    @media (max-width: 330px) {
        .content {
            min-width: 310px;

            .text {
                min-width: 310px;
            }

            .principal {
                .meio {
                    .esquerda {
                        .botao {
                            min-width: 310px;
                            margin-top: -15px;
                        }
                    }
                }
            }
        }
    }
}