.infos-empresa {
    display: flex;
    flex-direction: row;
    height: 100vh;
    background-color: #F9F9F9;
    overflow: hidden;

    .content {
        width: 100%;
        max-width: 1200px;
        margin: 35px;
        display: flex;
        flex-direction: column;
        padding: 0 20px;

        #h1Info {
            font: 700 20px inter;
            color: #5D636B;
            text-align: left;
            margin: 20px 0 30px;
        }

        .principal {
            display: flex;
            flex-direction: row;
            width: 100%;

            .meio {
                display: flex;
                gap: 88px;
                width: 100%;

                .esquerda {
                    max-width: 560px;
                    width: 100%;
                }
            }
        }
    }

    @media (max-width: 1280px) {
        .content {
            #h1Info {
                font-size: 18px;
            }

            .principal {
                .meio {
                    gap: 40px;
                }
            }
        }
    }

    @media (max-width: 1176px) {
        .content {
            margin-top: 0px;

            .principal {
                margin-left: 0;
                margin-top: 0px;

                .meio {
                    gap: 33px;

                    .esquerda {
                        max-width: 480px;
                    }
                }
            }
        }
    }

    @media (max-width: 800px) {
        .content {
            justify-content: center;
            align-items: center;
            margin-left: 0;
            max-width: 450px;

            .text {
                width: 95%;
                gap: 20px;
            }

            .principal {
                .meio {
                    .esquerda {
                        .bordaBranca {
                            width: 95%;
                        }

                        .botao {
                            width: 95%;
                        }
                    }
                }
            }
        }
    }
}