.cadastro-funcionario {
    display: flex;
    flex-direction: row;
    background-color: #f9f9f9;
    height: 100vh;
    overflow: hidden;

    .conteudo {
        width: 100%;
        margin: 15px 50px 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;

        #h1Info {
            font: 700 20px inter;
            color: #5D636B;
            text-align: left;
            margin: 20px 0 50px;
        }

        .text {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            margin: 20px 0;

            .link {
                display: flex;
                flex-direction: row;
                align-items: flex-start;
                justify-content: flex-start;
                gap: 10px;
                text-decoration: none;

                img {
                    width: 20px;
                }

                h1 {
                    font: 500 15px inter;
                    color: #5D636B;
                    cursor: pointer;
                }
            }
        }

        .principal {
            display: flex;
            flex-direction: row;
            gap: 90px;
            width: 100%;
            margin-top: -5px;

            .bordaBranca {
                flex: 1;
                min-width: 250px;
                max-width: 600px;
                border-radius: 15px;
                border: 1px solid #fff;
                background-color: #fff;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                box-shadow: 0 4px 12px rgba(224, 224, 224, 0.8);

                .infos {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    gap: 2.5vh;
                    padding: 30px;
                    width: 100%;

                    .card {
                        display: flex;
                        flex-direction: row;
                        justify-content: flex-start;
                        align-items: center;
                        width: 100%;
                        gap: 1.5vh;

                        img {
                            width: 15px;
                        }

                        h1 {
                            font: 500 17px inter;
                            color: #5D636B;
                        }
                    }

                    .campo {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        width: 100%;
                        gap: 1vh;

                        input {
                            width: 100%;
                            max-width: 450px;
                            height: 45px;
                            padding: 15px;
                            outline: none;
                            border: 1px solid #A2A2A2;
                            background-color: #FDFAFA;
                            border-radius: 15px;
                            font: 500 15px inter;
                        }

                        h1 {
                            font: 500 15px inter;
                            color: #5D636B;
                            width: 20%;
                        }
                    }
                }
            }
        }
    }

    .botao {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        flex: 1;
        min-width: 250px;
        max-width: 600px;
        margin-top: 30px;

        button {
            width: 113px;
            height: 42px;
            border-radius: 15px;
            background-color: #F5BA53;
            border: none;
            font: 500 14px inter;
            color: #FFF;
            cursor: pointer;

            a {
                text-decoration: none;
                color: #FFF;
            }
        }
    }

    @media (max-width: 1399px) {
        .conteudo {
            margin-top: 0px;

            .text{
                gap: 20px;
            }

            #h1Info {
                font-size: 18px;
                margin-top: 0px;
            }

            .principal {
                margin-top: -15px;
            }
        }
    }

    @media (max-width: 1280px) {
        .conteudo {
            margin-top: -5px;

            #h1Info {
                font-size: 18px;
                margin-top: -5px;
            }

            .principal {
                gap: 35px;
                margin-top: -35px;

                .bordaBranca {
                    min-width: 450px;
                    max-width: 550px;
                    width: 60%;
                }
            }
        }

        .botao {
            min-width: 450px;
            width: 60%;
        }
    }

    @media(max-width: 1176px) {
        .conteudo {

            .text{
                gap: 10px;
            }
            .principal {
                gap: 40px;
                margin-top: -60px;
                .bordaBranca {
                    max-width: 470px;
                }
            }

            .botao {
                max-width: 470px;
                margin-top: 12px;
            }
        }
    }

    @media (max-width: 800px) {
        .conteudo {
            gap: 2vh;
            min-width: 350px;
            margin: 0 auto;
            justify-content: center;
            align-items: center;
            margin-left: 0px;

            .text {
                min-width: 350px;
            }

            .principal {
                justify-content: center;

                .bordaBranca {
                    min-width: 350px;
                    max-width: 0px;

                    .infos {
                        gap: 1.5vh;

                        .campo {
                            flex-direction: column;

                            input {
                                border-radius: 12px;
                            }

                            h1 {
                                align-self: self-start;
                            }
                        }
                    }
                }
            }

            .botao {
                min-width: 350px;
                max-width: 0px;
            }
        }
    }

    @media (max-width: 360px) {
        .conteudo {
            min-width: 310px;

            .text {
                min-width: 310px;
            }

            .principal {
                .bordaBranca {
                    min-width: 310px;
                    max-height: 46vh;
                    justify-content: flex-start;
                    overflow-y: auto;
                }
            }

            .botao {
                min-width: 310px;
            }
        }
    }
}