.cabecalho {
    display: flex;
    flex-direction: column;
    width: 100%;

    .cima {
        display: flex;
        flex-direction: row;
        justify-content: end;
        align-items: center;
        width: 100%;
        background-color: #F9F9F9;
        border: 1px solid #E0E0E0;
        padding: 15px 30px;

        .infos {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 2vw;

            h1 {
                color: #64748B;
                text-align: center;
                font: 600 17px inter;
            }

            img {
                width: 60px;      
                height: 60px;     
                border-radius: 50%;
                object-fit: cover; 
                display: block;   
            }
        }
    }

    @media(max-width: 768px) {
        .cima {
            .infos {
                gap: 1.5vh;

                img {
                    width: 50px;  
                    height: 50px; 
                }

                h1 {
                    font-size: 13px;
                }
            }
        }
    }
}

@media (max-width: 1440px) {
    .cabecalho {
        .cima {
            padding: 10px 30px;
        }
    }
}
